@page "/MusicasPorArtista"
@inject MusicaAPI musicasAPI

<h3>MusicasPorArtistas</h3>
@if (musicas is not null)
{
    foreach (var artista in musicas)
    {
        <p>@artista.Nome</p>
    }
}
@if (mensagemErro is not null)
{
    <p style="color:red">@mensagemErro</p>
}



@code {
    private ICollection<MusicaResponse>? musicas;
    private string? mensagemErro;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            musicas = await musicasAPI.GetMusicaAsync();
        }
        catch (Exception ex)
        {
            mensagemErro = "Erro ao carregar artistas: " + ex.Message;
        }
    }

}
